/*
Program name: patient-form.html
Author: Jonathan Rodriguez
Date created: 2026-02-24
Date last edited: 2026-02-27
Version: 1.0
Description: This is the CSS code for the patient registration form
*/

/* Body Styling */
body {
    background: #2d89ab;
    font-family: Trebuchet MS, Lucida Sans, sans-serif;
    margin: 0;
    padding:20px;


h1{
    font-family: Trebuchet MS, Lucida Sans, sans-serif;
    color:#02112b;
    margin-top: 15px;
    margin-left: 10px;
    font-size:35px;
}


